<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="fragments/header::head"></div>
  <title>Add Healthcare Provider</title>
</head>
<body th:style="'background-image:url(' + @{~/img/HealthcareProvider.jpg} + '); background-repeat: no-repeat, repeat; background-size: cover;'">
<div class="container" style="width: 600px;background: #ffffffcc;margin: auto;padding: 50px;border-radius: 20px;margin-top: 84px;" >
  <h2 class="text-center">Access Denied</h2>
  <p class="alert alert-danger text-center">You can not access this page!</p>
</div>
</body>
</html>