<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header::head"></div>
    <title>Edit Prescription</title>
</head>
<body>
<div th:replace="fragments/header::navbar(backUrl='/prescriptions')"></div>
<div class="container">
    <h2 class="text-center">Edit Prescription</h2>
    <form th:action="@{/prescriptions/{id}(id=${prescription.id})}" th:object="${prescription}" method="post" class="form-group">
        <div class="form-group">
            <label for="medication">Medication:</label>
            <input type="text" th:field="*{medication}" required class="form-control" id="medication" placeholder="Enter Medication">
        </div>
        <div class="form-group">
            <label for="dosage">Dosage:</label>
            <input type="text" th:field="*{dosage}" required class="form-control" id="dosage" placeholder="Enter Dosage">
        </div>
        <div class="form-group">
            <label for="prescriptionDate">Prescription Date:</label>
            <input type="date" th:field="*{prescriptionDate}" required class="form-control" id="prescriptionDate" placeholder="Enter Prescription Date">
        </div>
        <div class="form-group">
            <label for="patient">Patient:</label>
            <select th:field="*{patient.id}" class="form-control" id="patient">
                <option th:each="patient : ${patients}" th:value="${patient.id}" th:text="${patient.firstName + ' ' + patient.lastName}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="healthcareProvider">Healthcare Provider:</label>
            <select th:field="*{healthcareProvider.id}" class="form-control" id="healthcareProvider">
                <option th:each="provider : ${providers}" th:value="${provider.id}" th:text="${provider.name}"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>
<div th:replace="fragments/footer::footer"></div>
</body>
</html>